

<div class="row justify-content-center">
  <div class="card mb-3" style="width: 50rem; margin-top: 10rem;">
    <div class="card-header">Question:</div>
    <div class="card-body">
      <h4 class="card-title"><%= @flashcard.content %></h4>
    </div>
  </div>
</div>

<%= form_for check_answer_flashcard_path(@flashcard), url: {action: "check_answer"}, method: :post, html: { id: "flashcardAnswerForm", "data-form-submitted": false } do |f| %>
  <% @flashcard.answers.each do |answer| %>

    <div class="row justify-content-center">
      <%= radio_button_tag(:answer, answer.right_answer, false, id: answer.id) %>
      <%= label_tag(answer.id, answer.content) %>
    </div>

  <% end %>
  <div class="row justify-content-center">
    <%= f.submit "Next", class: "d-none" %>
    <button id="showResultBtn">Check</button>
  </div>
<% end %>

