<div class="container col-lg-10 mt-4">

  <div class="my-5">
    <div class="title-style">
    </div>
  </div>

  <div class="my-5 d-flex align-items-center">
    <h2 class="article-title"><%= @article.title %><%= render "shared/badge", text: "Read" if @article_read %></h3>



    <div class="article-details">
      <p class="read-time"><%= @reading_minutes %> min</p>

      <% if @article.bookmarked_for?(current_user) %>
        <%= link_to unbookmark_article_path(@article), method: :patch do %>
          <i class="material-icons-sharp bookmark-icon" id="two">bookmark</i>
        <% end %>
      <% else %>
        <%= link_to bookmark_article_path(@article), method: :post do %>
          <i class="material-icons-sharp bookmark-icon" id="two">bookmark_border</i>
        <% end %>
      <% end %>
      <%= link_to "Go to Quiz", @flashcard, class: "btn btn-primary mt-1 quiz-button" %>
    </div>

  </div>

  <div class="row">
    <div class="container-accordion pl-0">
<!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  <!-- Accordion card -->
      <div class="card">
    <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
          <a class="nounderline" data-toggle="collapse" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
          <h5 class="my-2 d-flex justify-content-between">Description
            <i class="fas fa-angle-up rotate-icon"></i>
          </h5>
          </a>
        </div>
    <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1">
          <div class="card-body">
            <p><%= @article.description %></p>
          </div>
        </div>
      </div>
  <!-- Accordion card -->
  <!-- Accordion card -->
      <div class="card">
    <!-- Card header -->
        <% @article.chapters.each do |chapter| %>
          <div class="card-header" role="tab" id="heading<%= chapter.id %>">
            <a class="nounderline" data-toggle="collapse" href="#collapse<%= chapter.id %>" aria-expanded="true" aria-controls="collapseTwo2">
            <h5 class="my-2 d-flex justify-content-between">
              <%= chapter.title %>
              <i class="fas fa-angle-down"></i>
            </h5>
            </a>
          </div>
    <!-- Card body -->
        <div id="collapse<%= chapter.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= chapter.id %>" aria-expanded="true">
          <div class="card-body">
            <p><%= chapter.content %></p>
          </div>
        </div>
        <% end %>
    </div>
    </div>
    <%= link_to "Go to Quiz", @flashcard, class: "btn btn-primary quiz-button d-none", id: "quizBtn" %>
    <br>
    <br>
</div>
