<div class="container col-lg-9 mt-4">
  <div class="row mt-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item topic"><strong><%= @topic.name %></strong></li>
        <% @topic.articles.each do |article| %>
        <li class="breadcrumb-item"><%= link_to article.title, article_path(article) %></li>
        <% end %>
      </ol>
    </nav>


  </div>


  <div class=" my-5 d-flex justify-content-between align-items-center">
  <h3 class="article-title"><%= @article.title %><%= render "shared/badge", text: "Read" if UserArticle.exists?(article: @article) %></h3>

    <%= link_to bookmark_article_path(@article), method: :post, class: "btn btn-primary", id: "two" do %>
    <i class="material-icons-sharp">bookmark</i>
    <% end %>
  </div>

  <div class="row">
    <div class="container pl-0">


<!--Accordion wrapper-->
    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card -->
      <div class="card">

    <!-- Card header -->
        <div class="card-header" role="tab" id="headingOne1">
          <a class="nounderline" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
          <h5 class="my-2 d-flex justify-content-between">Description
            <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
          </a>
        </div>

    <!-- Card body -->
        <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
          <div class="card-body">
            <p><%= @article.description %></p>
          </div>
        </div>

      </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
      <div class="card">

    <!-- Card header -->
        <% @article.chapters.each do |chapter| %>

          <div class="card-header" role="tab" id="heading<%= chapter.id %>">
            <a class="collapsed nounderline" data-toggle="collapse" data-parent="#accordionEx" href="#collapse<%= chapter.id %>" aria-expanded="false" aria-controls="collapseTwo2">
            <h5 class="my-2 d-flex justify-content-between">
              <%= chapter.title %>
              <i class="fas fa-angle-down rotate-icon"></i>
            </h5>
            </a>
          </div>

    <!-- Card body -->
        <div id="collapse<%= chapter.id %>" class="collapse" role="tabpanel" aria-labelledby="heading<%= chapter.id %>" data-parent="#accordionEx">
          <div class="card-body">
            <p><%= chapter.content %></p>
          </div>
        </div>
        <% end %>
    </div>
    </div>
  </div>

    <div class="text-right my-5">
      <%= link_to "Go to Flashcards",  article_flashcard_path(@article, @flashcard), class: "btn btn-primary mt-5" %>
    </div>
  </div>

</div>
