<h1>Willkommen in deinem Profil!</h1>

<p><strong>Vorname</strong>: <%= @user.first_name %></p>
<p><strong>Nachname</strong>: <%= @user.last_name %></p>
<p><strong>Email</strong>: <%= @user.email %></p>
<p><strong>Geburtstag</strong>: <%= @user.birthdate %></p>
<%= link_to edit_user_path(current_user) do %>
<button class="btn">Profil anpassen</a>
<% end %>
