<h1>Welcome to your user profile!</h1>

<p><strong>Username</strong>: <%= @user.first_name %></p>
<p><strong>Username</strong>: <%= @user.last_name %></p>
<p><strong>Email</strong>: <%= @user.email %></p>
<p><strong>Birthdate</strong>: <%= @user.birthdate %></p>
<%= link_to edit_user_path(current_user) do %>
<button class="btn">Edit your profile</a>
<% end %>
