<nav class="d-none d-md-block bg-light sidebar" id="sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          Mozubi
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link #{current_class?(dashboard_path)}" do %>
          <div class="icon">
            <i class="material-icons-sharp">home</i>
            <p>Home</p>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to articles_path, class: "nav-link #{current_class?(articles_path)}" do  %>
          <div class="icon">
            <i class="material-icons-sharp">local_library</i>
            <p>Articles</p>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do  %>
          <div class="icon">
            <i class="material-icons-sharp fa-rotate-180">dynamic_feed</i>
            <p>Flashcards</p>
          </div>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to dashboard_path, class: "nav-link" do  %>
          <div class="icon">
            <i class="material-icons-sharp">description</i>
            <p>Exams</p>
          </div>
        <% end %>
      </li>
      <li class="nav-item bottom">
        <%= link_to dashboard_path, class: "nav-link" do  %>
          <i class="material-icons-sharp">person</i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
