<!-- <nav class="d-none d-md-block bg-light"> -->
  <div class="close-tree tree-sticky <%= articles_class? %>">
    <div class="search">
      <i class="material-icons-sharp" id="search-icon">search</i>
      <div class="hidden searchbar">
        <%= render 'shared/searchbar' %>
      </div>
    </div>
    <div class="open">
      <ul class="nav list">
        <% @all_topics.each do |topic| %>
          <% if topic.articles.map { |article| @art_read.include?(article.id) }  %>
              <li class="tree-item">
            <% else %>
              <li class="tree-item">
            <% end %>
            <%# raise %>
            <div class="hidden">
              <%= topic.name %>
              <div class="gone">
                <ul class="sub">
                  <% topic.articles.each do |article| %>
                    <% if @art_read.include?(article.id) %>
                      <li class="nav-sub read">
                    <% else %>
                      <li class="nav-sub">
                    <% end %>
                      <%= link_to article, class: "#{article_class?(article)}" do %>
                        <%= article.title %>
                      <%# raise %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<!-- </nav> -->

<script>
  const tree = document.querySelector(".tree-sticky")
  tree.addEventListener("click", (e) => {
    tree.classList.toggle("show");
  })
  const search = document.querySelector(".searchbar")
search.addEventListener("click", (e) => {
    e.stopPropagation();
  })


</script>
